* {
    margin: 0;
    padding: 0;
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(34, 34, 34);
    position: relative;
    flex-wrap: wrap; /* Dodane */
}

.board-container {
    width: 100%; 
    max-width: 500px;
    height: 500px;
}

.board {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 12.5%;
    height: 12.5%;
}

.square-black {
    background-color: #797979;
}
.square-white {
    background-color: #e7e7e7;
}

.board-square {
    width: 100%;
    height: 100%;
}

.piece-container {
    cursor: grab;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.piece {
    max-width: 70%;
    max-height: 70%;
    
}

.promote-square {
    width: 50%;
    height: 50%;
}

.cursor-pointer {
    cursor: pointer;
}

.vertical-text {
    text-orientation: upright;
    writing-mode: vertical-lr;
    padding: 10px;
    color: #fff;
}

.vertical-text button {
    margin-top: 20px;
    cursor: pointer;
    background-color: rgb(63, 63, 63);
    border: 2px solid white;
    
}

.new-game-btn{
    background-color: #ffffffb1;
    padding: 10px;
    border-radius: 9px;
    top: 7rem;
    position: absolute;
    font-style: italic;
    font-weight: 700;
    border: none;
}

.btn-container {
    display: inline-block;
    position: absolute;
    top: 0;
    margin-bottom: 1rem;
    margin-left: 10px;
    margin-top: 10px;
    z-index: 999; /* Dodane */
}
.new-game-btn {
    background-color: #ffffffb1;
    padding: 10px;
    border-radius: 9px;
    margin-right: 10px; /* Dodane */
    font-style: italic;
    font-weight: 700;
    border: none;
    box-shadow: 0 0 5px #ffffffb1;
    position: relative;

}

.new-game-btn:hover {
    box-shadow: 0 0 15px #ffffffb1;
    cursor: pointer;
    color: #fff;
}

@media (width: 1384px) {
    .btn-container {
      top: -4rem;
    }
  }
  